<div style="display: block;" class="modal fade show">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" ><i class="icon-close"></i></span>
                </button>
                <h5 class="text-center" style="padding-top: 3rem;"><i class="icn icn-map"></i> Select City</h5>
                <p style="top: 50px; font-size: 14px;text-align: center;">Choose your city to see available products</p>
                <div class="">

                <div class="cat-blocks-container p-rem">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4 col-12"> 
                            <a href="category.html" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="https://image.flaticon.com/icons/svg/3003/3003978.svg" alt="Category image">
                                    </span>
                                </figure>
            
                                <h3 class="cat-block-title">Bangalore</h3>
                            </a>
                        </div>
            
                        <div class="col-md-4 col-sm-4 col-lg-4 col-12">
                            <a href="category.html" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="https://image.flaticon.com/icons/svg/3003/3003974.svg" alt="Category image">
                                    </span>
                                </figure>
            
                                <h3 class="cat-block-title">Mumbai</h3>
                            </a>
                        </div>
            
                        <div class="col-md-4 col-sm-4 col-lg-4 col-12">
                            <a href="category.html" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="https://image.flaticon.com/icons/svg/3003/3003984.svg" alt="Category image">
                                    </span>
                                </figure>
            
                                <h3 class="cat-block-title">Chennai</h3>
                            </a>
                        </div>
            
                        <div class="col-md-4 col-sm-4 col-lg-4 col-12">
                            <a href="category.html" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="https://image.flaticon.com/icons/svg/3003/3003987.svg" alt="Category image">
                                    </span>
                                </figure>
            
                                <h3 class="cat-block-title">Hydrabad</h3>
                            </a>
                        </div>
            
                        <div class="col-md-4 col-sm-4 col-lg-4 col-12">
                            <a href="category.html" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="https://image.flaticon.com/icons/svg/3003/3003982.svg" alt="Category image">
                                    </span>
                                </figure>
            
                                <h3 class="cat-block-title">Kochi</h3>
                            </a>
                        </div>
            
                        <div class="col-md-4 col-sm-4 col-lg-4 col-12">
                            <a href="category.html" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="https://image.flaticon.com/icons/svg/3004/3004003.svg" alt="Category image">
                                    </span>
                                </figure>
            
                                <h3 class="cat-block-title">Pune</h3>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>  
    </div>
</div>